# Editor and style files
./.vscode/*
./.github/*
./.husky/*

# scripts
./scripts
./scripts/**/*

# tests
./test
./test/**/*
./coverage

# docs
./docs

# Additional documentation
./TODO.md

# Verdaccio
./verdaccio

# Add files in root that are not relevant for distribution
./.czrc
./.editorconfig
./.gitignore
./.prettierrc
./commitlint.config.mjs
./eslint.config.mjs
./jest.config.mjs
./package-scripts.cjs
./rollup.config.mjs
./tsconfig.json
./tsconfig.test.json
./typedoc.config.mjs
./update-version.mjs
./vite.config.mjs
